#a_ind{
  color: white;
  text-decoration: none;
}

#header_ind{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

*{
  box-sizing: border-box;
  font-family: sans-serif;
}

#a_ind:active , #a_ind:hover{
  font-weight: 700;
}

#header_ind, .box{
  background-color: black;
}

#wrapper{
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 20 px;
  justify-content: space-between;
}

nav #a_ind{
  border-right: 1px solid white;
  padding-left: .75rem;
  padding-right: 1.125rem;
}

#Sing_in , #Log_in{
    width: 300px;
    border: 1px;
    padding: 50px;
    margin-top: 100px;
    background-color: black;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

body{
    background-color: rgba(9,26,27,0.13);
}
